@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
}
body,html{
	width:100%;
	height:100%;
}
header{
	height:12%;
	background-color:blue;
	line-height:650%;
}
nav{
	height:5%;
	background-color:purple;
	line-height:250%;
}
nav li{
	display:inline;
	color:white;
	margin:0 0.5%;
}
nav ul{
	text-align:center;
}
nav li a{
	text-decoration:none;
	color:white;
	font-weight:bold;
}
nav li a:hover{
	color:orange;
}
section{
	height:78%;
}
section li{
	margin-left:2%;
}
footer{
	height:5%;
	background-color:gray;
	line-height:250%;
}